.button-primary {
    height: 46px;
    overflow: hidden;
    width: 110px;
  }
  
  .button-primary .overlap-group {
    background-color: var(--primary);
    border-radius: 8px;
    height: 48px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 112px;
    cursor: pointer; /* Makes the button clickable */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
  }
  
  .button-primary .overlap-group:hover {
    background-color: black; /* Changes color to black on hover */
  }
  
  
  .button-primary .sign-up {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 110px;
  }